.main--join{
    padding-top: 7px;
}

.main--book div{
    padding-top: 7px;
}

.text--bio div h5{
    font-size: 15px;
}

.main--join form label{
    padding-top: 7px;
}

.text--bio{
    padding-top: 1rem;
}

.footeresp{
    padding-top: 5rem;
}

.footerespbio{
    padding-top: 4rem;
}

.text--bio1{
    padding-top: 3rem;
}

.text--bio{
    padding: 1rem;
}

.cardbo{
    margin-bottom: 5rem;}

.contact--map{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact--fine{
    margin-top: 2rem;
}

.div--boo{
    margin-bottom: 2rem;
}

.titulo--mobile{
    margin-top: 3rem;
}

