@media only screen and (min-width: 768px){    
        .footer--book{
            display: flex;                          
            justify-content: flex-end;                
            align-items: center;                 
            margin-top: 160px;
    }

    .footerjoin{display: flex;                          
        justify-content: flex-end;                
        align-items: center;                 
        margin-top: 80px;
    }

.navbar{
  margin-bottom: 5rem;
}
}

