<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="larocca, nate, photography, emerging talent, Commercials, music">
    <meta name="descriptions"
        content="Nate Larocca is a photographer, filmmaker and self-portrait artist. Heavily inspired by cinema, Americana and Britain particularly in the 1960's">
    <title>Larocca Photography</title>
    <!-- Favicon -->
    <link rel="shortcut icon"
        href="https://img.icons8.com/external-flat-icons-inmotus-design/344/external-cam-photo-camera-flat-icons-inmotus-design-2.png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Css Propio -->
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <div class="container-fluid">
        <!-- Comienzo Header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Larocca Photography</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Biography.html">Biography</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Works.html">Works</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Booking.html">Booking</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Join.html">Join</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Comienzo Main -->
        <main class="container">
            <div class="row text-center">
                <h2 class="titular" data-aos="fade-up">Biography</h2>
                <div class="text-center">
                    <img class="col-lg-4 col-12" src="https://laroccanate.github.io/Cursocoder/assets/img/nate.jpg"
                        alt="Nate">
                    <article class="row col-lg-12 text-center text-md-center">
                        <div class="text-md-center lh-lg font-monospace col-lg-12 text--bio">
                            <div class="text--bio">
                                <div class="text--bio1">
                                    <h5> Natanael Larocca was born in Buenos Aires, Argentina in 1987 and attended high
                                        school
                                        at Buenos Aires School of The Arts.</h5>
                                </div>
                                <div class="text--bio">
                                    <h5> Originally enrolled as a painter, Nate began to experiment in the medium of
                                        photography developing an analogue</h5>
                                </div>
                                <div class="text--bio">
                                    <h5>technique of hand-painting his own negatives to achieve a sublime
                                        spectrum of color before processing his film.</h5>
                                </div>
                                <div class="text--bio">
                                    <h5>Nate is a photographer, filmmaker and self-portrait artist.</h5>
                                </div>
                                <div class="text--bio">
                                    <h5>Heavily inspired by cinema, Americana
                                        and Britain particularly in the 1960’s and 70’s,</h5>
                                </div>
                                <div class="text--bio2">
                                    <h5>her photographs and films are veritable visions of
                                        saturated, surreal dreamscapes.</h5>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </main>
        <!-- Comienzo Footer -->
        <div class="row fixed-bottom position-relative footerespbio footeresp">
            <footer class="container">
                <div class="row">
                    <div class="d-inline-flex d-flex justify-content-center ">
                        <a href="https://www.instagram.com/">
                            <img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a>
                        <a href="https://www.facebook.com/">
                            <img src="https://img.icons8.com/fluency/48/000000/facebook.png" /></a>
                    </div>
                </div>
            </footer>
            <hr>
            <h6 class="text-center text-md-center small text-secondary ">All Rights Reserved - Photography is under
                copyright</h6>
        </div>
    </div>
    <!-- Js Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- Js Aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>